<!DOCTYPE html>
<html lang="en"
      xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Магазин сантехники</title>
</head>
<body style="color: gray">
<div>
    <h1 style="color: green">Заказ сантехники</h1>
</div>
<form method="post" th:object="${sanitaryOrder}">
    <div>
        <label>
            Введите вашу фамилию:
            <input type="text" th:field="*{surname}" placeholder="Иванов"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('surname')}"
                  th:errors="*{surname}">
                        Error
                    </span>
        </label>
    </div>
    <div>
        <label>
            Введите ваше имя:
            <input type="text" th:field="*{name}" placeholder="Иван"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">
                        Error
                    </span>
        </label>
    </div>
    <div>
        <label>
            Введите ваше отчество:
            <input type="text" th:field="*{patronymic}" placeholder="Иванович"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('patronymic')}"
                  th:errors="*{patronymic}">
                        Error
                    </span>
        </label>
    </div>
    <div>
        <label>
            Введите номер вашего телефона:
            <input type="text" th:field="*{phoneNumber}" placeholder="79585116132"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}">
                        Error
                    </span>
        </label>
    </div>
    <div>
        <label>
            Выберите тип сантехники:
            <input type="checkbox" name="typesPlumbing"
                   th:each="plumbingSanitaryType : ${plumbingSanitaryTypes}"
                   th:text="${plumbingSanitaryType}"
                   th:value="${plumbingSanitaryType}"
                   th:field="*{plumbingTypes}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('plumbingTypes')}"
                  th:errors="*{plumbingTypes}">
                        Error</span>
        </label>
    </div>
    <div>
        <label>
            Введите номер вашей карты:
            <input type="text" th:field="*{ccNumber}" placeholder="1234 5678 9012 3456"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccNumber')}"
                  th:errors="*{ccNumber}">
                        Error
                    </span>
        </label>
    </div>
    <div>
        <label>
            Введите срок истечения действия вашей карты:
            <input type="text" th:field="*{ccExpiration}" placeholder="05/22"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccNumber')}"
                  th:errors="*{ccExpiration}">
                        Error
                    </span>
        </label>
    </div>
    <div>
        <label>
            Введите CVV вашей карты:
            <input type="text" th:field="*{ccCVV}" placeholder="395"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('ccCVV')}"
                  th:errors="*{ccCVV}">
                        Error
                    </span>
        </label>
    </div>
    <button type="submit">Сделать заказ</button>
    <br/></br/>
    <a href="/logout" class="btn btn-danger">Выйти</a>
</form>
</body>
</html>